<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SharpestBeak.Common.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="SharpestBeak.UI.WinForms.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <SharpestBeak.Common.Properties.Settings>
            <setting name="UsePerformanceCounters" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="EnableDebugOutput" serializeAs="String">
                <value>False</value>
            </setting>
        </SharpestBeak.Common.Properties.Settings>
        <SharpestBeak.UI.WinForms.Properties.Settings>
            <setting name="NominalSize" serializeAs="String">
                <value>24, 16</value>
            </setting>
            <setting name="TeamUnitCount" serializeAs="String">
                <value>10</value>
            </setting>
        </SharpestBeak.UI.WinForms.Properties.Settings>
    </applicationSettings>
</configuration>