<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings"
                  type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="SharpestBeak.Common.Properties.Settings"
               type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
               requirePermission="false" />
      <section name="SharpestBeak.UI.WinForms.Properties.Settings"
               type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
               requirePermission="false" />
    </sectionGroup>
  </configSections>
  <applicationSettings>
    <SharpestBeak.Common.Properties.Settings>
      <setting name="UsePerformanceCounters"
               serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="InstrumentationMode"
               serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="EnableDebugOutput"
               serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="SlowDownRatio"
               serializeAs="String">
        <value>1</value>
      </setting>
    </SharpestBeak.Common.Properties.Settings>
    <SharpestBeak.UI.WinForms.Properties.Settings>
      <setting name="NominalSize" serializeAs="String">
        <value>16, 16</value>
      </setting>
      <setting name="DrawBoardGrid" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="UICellSize" serializeAs="String">
        <value>48</value>
      </setting>
      <setting name="TeamUnitCount" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="Logics" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string>SharpestBeak.Logic.Default.RandomChickenLogic, SharpestBeak.Logic.Default</string>
            <string>SharpestBeak.Logic.Default.AimingChickenLogic, SharpestBeak.Logic.Default</string>
            <string>SharpestBeak.Logic.Default.PredictiveAimingChickenLogic, SharpestBeak.Logic.Default</string>
            <string>SharpestBeak.Logic.Default.PredictiveAimingAndTurningAwayChickenLogic, SharpestBeak.Logic.Default</string>
          </ArrayOfString>
        </value>
      </setting>
    </SharpestBeak.UI.WinForms.Properties.Settings>
  </applicationSettings>
</configuration>